@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
html {
	overflow: hidden;
}
body {
	position: absolute;
	margin: 0px;
	padding: 0px;
	background: #fff;
	width: 100%;
	height: 100%;
}
#screen {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	background: #fff;
}
#screen img {
	position: absolute;
	cursor: pointer;
	width: 0px;
	height: 0px;
	-ms-interpolation-mode:nearest-neighbor;
}
#bankImages {
	visibility: hidden;
}
#FPS {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: 10px;
	color: #666;
	font-family: verdana;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */
